.content {
  background: linear-gradient(to bottom, #a7f7ff, #f3f3f3);
}

.header {
  padding-top: 10px;
  text-align: center;
}

.center {
  width: 85%;
  margin: 0 auto;
  padding: 4rem 0;
}

.timeText1,
.timeText2 {
  padding-top: 25px;
  font-size: 15px;
}

.timeText2 {
  display: flex;
  flex-wrap:wrap;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 440px) {
  .timeText1 {
    padding-top: 10px;
  }
  .timeText2 {
    padding-top: 10px;
  }
}

@media (max-width: 617px) {
  .timeText2 {
    padding-top: 10px;
    display: flex;
    justify-content: end;
  }
}