.airInfor {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: all 0.2s ease;
}

@media (max-width: 1805px) {
    .airInfor {
        width: 25%;
        min-width: 290px;
    }
  }