.legendTable {
    margin-top: 1%;
}

.legendTable table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    text-align: center;
}

.legendTable th{
    background-color: #f9f9f9;
    font-weight: bold;
}

.legendTable th,
.legendTable td {
    border: 1px solid #ddd;
    padding: 5px;
}

.extable {
    margin-top: 0.5%;
}