.Footer {
    display: flex;
    justify-content: center;
    background-color: #39B581;
}

.footerContainer {
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin: 1.5rem;
}

.footerContent {
    width: 1000px;
}

.footerContent > p {
    color: white;
    width: fit-content;
}

.footerContent > p:last-child {
    background-color: #008554;
    padding: 0.1rem 0.4rem;
    cursor: pointer;
    margin-top: 1rem;
}

.moveTop {
    height: fit-content;
    text-align: center;
    align-self: center;
    color: white;
    cursor: pointer;
}