.Footer {
  background-color: #39b581;
}

.footerContainer {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  margin: 0 auto;
  padding: 1.5rem;
}

.logo {
  align-content: center;
}

.footerContent {
  width: 100%;
}

.footerContent > p {
  color: white;
  width: fit-content;
}

.moveTop {
  height: fit-content;
  text-align: center;
  align-self: center;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}

.moveTop:hover {
  transform: translateY(-3px);
  transition: all 0.3s;
}

@media (max-width: 768px) {
  .footerContainer {
    display: inline-block;
    width: 100%;
    overflow: hidden;
  }

  .logo {
    width: fit-content;
  }

  .footerContent {
    width: auto;
    float: left;
  }

  .moveTop {
    width: fit-content;
    height: 100%;
    float: right;
  }
}

@media (max-width: 473px) {
  .Footer {
    position: relative;
  }

  .moveTop {
    position: absolute;
    height: fit-content;
    top: 0.5rem;
    right: 0;
  }
}
