.Header {
  background-color: #fff;
  color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.headerContainer {
  margin: 0 auto;
  display: flex;
  color: #000;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  padding: 0 1.5rem;
  height: 88px;
}

.Logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav {
  align-content: center;
  width: 70%;
}

.nav > ul {
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
  list-style: none;
  background-color: #fff;
}

.open {
  display: flex !important;
}

.nav > ul > li {
  text-align: center;
  display: flex;
}

.nav > ul > li > a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 15px;
  transition: background-color 0.3s;
  cursor: pointer;
  white-space: nowrap;
}

.nav > ul > li > a:hover {
  background-color: #6effc3;
  border-radius: 15px;
  transition: background-color 0.3s;
}

.kakao {
  align-content: center;
}

.kakao > h3 {
  margin: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.3s;
}

.kakao > h3:hover {
  color: #fae100;
  transition: all 0.3s;
}

.mobileMenu {
  height: fit-content;
  display: none;
  font-size: 2rem;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 15px;
  transition: background-color 0.3s;
}

.mobileMenu:hover {
  background-color: #6effc3;
  border-radius: 15px;
  transition: background-color 0.3s;
}

.hasSubmenu {
  position: relative;
}

.submenu {
  list-style: none;
  position: absolute;
  top: 56px;
  z-index: 10;
  background-color: #fff;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.submenu > li > a {
  width: 100%;
  display: inline-block;
  padding: 0.3rem;
  text-decoration: none;
  color: #000;
  transition: all 0.3s;
}

.submenu > li > a:hover {
  color: #7e7e7e;
  transition: all 0.3s;
}

@media (max-width: 874px) {

  .nav > ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 88px;
    right: 0;
    z-index: 10;
    gap: 1.5rem;
    padding: 1rem;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .nav > ul > li {
    margin: 0.4rem auto;
  }

  .nav > ul > li > a {
    padding: 0.7rem 1rem;
  }

  .mobileMenu {
    display: flex;
  }

  .submenu {
    top: 100%;
  }
}