.Content {
    background: linear-gradient(to bottom,#A7F7FF, #F3F3F3);
    overflow: hidden;
}

.contentBox {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 70%;
    margin: 4rem auto;
}

.content1 {
    display: flex;
    justify-content: center;
    gap: 2rem;
}


@media (max-width: 768px) {
    .contentBox {
        display: flex;
        flex-direction: column;
        width: 85%;
        margin: 3rem auto;
    }
  }
  