.mapCard {
    width: 50%;
}

.mapTitle {
    display: flex;
    justify-content: space-around;
    min-height: 56px;
}

.realTime,
.dateInfor {
    flex: 1;
    border-radius: 0.5rem 0.5rem 0 0;
    background-color: #fff;
    text-align: center;
    align-content: center;
    font-size: 1.5rem;
    font-weight: normal;
    color: #000;
    cursor: pointer;
    transition: all 0.3s;
}

.active {
    background-color: #67D8F3;
    color: #fff;
    transition: all 0.3s;
}