.modalContent {
    z-index: 1;
    position: fixed;
    outline: solid 2px #ccc;
}

.modalTitle {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0.7rem;
    min-height: 56px;
}

.modalsubTitle {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0.7rem;
    background-color: #67D8F3;
}
.roundSelect :global(.ant-select-selector) {
    border-radius: 50px !important;
    border: none !important;
    width:  100px !important;
}
