* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

.ant-table-wrapper .ant-table-cell,
.ant-table-wrapper .ant-table-thead > tr > th,
.ant-table-wrapper .ant-table-tbody > tr > td {
  padding: 10px !important;
}

.ant-table-measure-row {
  display: none !important;
}

/* AirInfoForecast 컴포넌트에만 적용 */
.air-info-forecast .ant-card-body {
  height: 310px;
  padding: 35px 15px;
}

.air-info-today .ant-card-body {
  height: 310px;
  padding: 15px 15px;
}


.air-info-forecast-wrapper {
  margin-top: 5px; /* 또는 원하는 위치 조절 */
}
